:root {
    --primary-color: #164365;
    --secondary-color: #7bc5d6;
    --accent1-color: #c1e4ec;
    --accent2-color: #FBE07A;
    --accent3-color:  #FBE89D;
  
    --nav-link-color: #164365;
    --nav-background-color: #FBE07A;
    --nav-hover-link-color: #7bc5d6;
    --nav-hover-background-color: #FBE89D;
  }

#content{
    max-width: 1600px;
    margin: 0 auto;

}

header{
    background-color: var(--primary-color);
}

nav{
    background-color: var(--accent2-color);
    font-size: 50px;
    min-width: 120px;
    padding: 20px;
}

nav a{
    text-align: center;
    color: var(--primary-color);
    text-decoration: none;
}

nav a:hover{
    background-color: var(--accent3-color);
    color: var(--secondary-color);
    text-decoration: underline;
}

#hero-img{
    min-width: 120px;
}

/*.home-titile{
    color: oldlace;
}*/

#hero-msg h1{
    font-size: 170px;
    text-align: center;
    color: oldlace;
}

#hero-msg h4{
    font-size: 80px;
    text-align: center;
    color: oldlace;
}

.botton-box{
    text-align: center;
}

.book{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-decoration: none;
}

.book:hover{
    background-color: var(--accent1-color);
    color: oldlace;
}

.join{
    background-color: var(--accent2-color);
    color: var(--primary-color);
    text-decoration: none;
}

.join:hover{
    background-color: var(--accent3-color);
    color: oldlace;
}

main section{
    text-align: center;
}

body{
    background-color: var(--primary-color);
}

h2{
    font-size: 50px;
    color: oldlace;
}

.logo img{
    width: 80px;
}

.icon{
    width: 80px;
}

#background{
    background-color: var(--primary-color);
    height: 725px;
}

.msg{
    background-color: var(--accent2-color);
}

.msg h2{
    color: black;
}

.msg p{
    color: black;
}

footer{
    background-color: var(--primary-color);
}

footer h3{
    color: var(--accent2-color);
    text-decoration: underline;
}

footer a{
    color: var(--accent2-color);
    text-decoration: none;
}

footer a:hover{
    color: oldlace;
    text-decoration: underline;
}