@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Roboto+Condensed&display=swap');

:root {
    --primary-color: #164365;
    --secondary-color: #7bc5d6;
    --accent1-color: #c1e4ec;
    --accent2-color: #FBE07A;
    --accent3-color:  #FBE89D;
  }

#content{
    max-width: 1600px;
    margin: 0 auto;

}

header{
    background-color: var(--primary-color);
}

#logo_link{
    padding-top: 5px;
}

.logo{
    width: 80px;
}

nav{
    background-color: var(--accent2-color);
    font-size: 50px;
    font-family: "Roboto Condensed", sans-serif;
    min-width: 120px;
    padding: 20px;
}

nav a{
    text-align: center;
    color: var(--primary-color);
    text-decoration: none;
    padding: 35px;
}

nav a:hover{
    background-color: var(--accent3-color);
    color: var(--secondary-color);
    text-decoration: underline;
}

#hero-img{
    min-width: 120px;
}

.home-title{
    font-family: "IBM Plex Sans", "Roboto Condensed", sans-serif;
    color: oldlace;
    font-size: 2em;
    text-align: center;
    margin-top: 10px;
}

/*#hero-msg h1{
    font-size: 170px;
    text-align: center;
    color: oldlace;
}*/

#hero-msg h4{
    font-size: 1.5em;
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    color: oldlace;
}

.button-box{
    text-align: center;
}

.book{
    font-size: 18px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover{
    background-color: var(--accent1-color);
    color: oldlace;
}

.join{
    background-color: var(--accent3-color);
    color: var(--primary-color);
    font-family: "Roboto Condensed", sans-serif;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join:hover{
    background-color: var(--accent3-color);
    color: var(--secondary-color);
}

main section{
    text-align: center;
}

body{
    font-size: 22px;
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
}

h2{
    font-size: 50px;
    font-family: "Roboto Condensed", sans-serif;
    color: oldlace;
    margin: 0;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

.card-img{
    border: 10px solid black;
    width: 800px;
}

main section img{
    box-sizing: border-box;
}

.rivers-card{
    margin: 200px 0;
}

.camping-card{
    margin: 200px 0;
}

.rapids-card{
    margin: 200px 0;
}

#background{
    background-color: oldlace;
    height: 725px;
    width: auto;
}

.mountains{
    width: auto;
    height: auto;
}

.msg{
    line-height: 1.5em;
    background-color: var(--accent2-color);
    padding: 35px;
}

.msg h2{
    font-family: "IBM Plex Sans", "Roboto Condensed", sans-serif;
    color: black;
}

.msg p{
    font-size: .8em;
    font-family: "Roboto Condensed", sans-serif;
    color: black;
    padding-bottom: 15px;
}

footer{
    margin-top: 200px;
    background-color: var(--primary-color);
    font-family: "Roboto Condensed";
    padding: 25px 50px;

}

footer h3{
    color: var(--accent2-color);

}

footer a{
    color: var(--accent2-color);
    text-decoration: none;
}

footer a:hover{
    color: oldlace;
    text-decoration: underline;
}

footer .social img{
    padding-top: 15px;
}
