main{
    background-color: gray;
}

.banner{
    text-align: center;
}

.circles{
    text-align: center;
}

.circles img{
    width: 250px;
    border: 15px solid darkslategray;
    border-radius: 50%;
    margin: 50px 25px;
}